<!DOCTYPE html>
<html>
  <head>
    <title>SelleoTestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <% flash.each do | name, msg |%>
      <%= content_tag(:div, msg, class:"alert alert-info") %>
      <% end %>

      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
